# Project Kamino Docker defaults. Copy this file to .env to customize it.
PORT_GROUP=44
STATUSPORT=44455
LOGINPORT=44453
PINGPORT=44462
ZONESERVERPORT=44463
STATUS_PORT=44455
LOGIN_PORT=44453
PING_PORT=44462
ZONE_PORT=44463
DBUSER=swgemu
ADMIN_USER=admin
WITH_GDB=false
TZ=America/Los_Angeles
ERROR_DELAY=30
